$white: #ffffff;
$black: #000000;

$background-primary-light: #ffffff; //
$background-primary-main: #FFFFFF; //
$background-primary-dark: #F6F8FF; //

$background-secondary-main: #F6FAFF; //
$background-secondary-dark: #FFF4F2; //

$background-tertiary-main: #7CDDD9; //

$background-quartiary-dark: #895FE0;//
$background-quartiary-main: #FA93D2;//

/* status colors */

$success-light: #00875A; //
$success-main: #016F42; //

$error-main: #FF0000; //

$info-main: #6B46FF; //

/* brand colors */

$primary-light: #e2ecfc;
$primary-main: #3D41D7; //
$primary-dark: #0052CC; //

/* typography colors */

$text-primary-light: #8F92A1; //
$text-primary-main: #FFFFFF; //
$text-primary-dark: #272835; //

$text-secondary-light: #D3D3FD; //
$text-secondary-main: #323484; //

/* border colors */

$border-primary-main: #B3B6DA; //

/* chart colors*/

$chart-primary-main: #FF8831 //
