@import 'app-colors';

:root,
:before,
:after {
  --vh: 1vh;

  --white: #{$white};
  --black: #{$black};

  --background-primary-light: #{$background-primary-light};
  --background-primary-main: #{$background-primary-main};
  --background-primary-dark: #{$background-primary-dark};

  --background-secondary-main: #{$background-secondary-main};
  --background-secondary-dark: #{$background-secondary-dark};

  --background-tertiary-main: #{$background-tertiary-main};

  --background-quartiary-dark: #{$background-quartiary-dark};
  --background-quartiary-main: #{$background-quartiary-main};

  /* status colors */

  --success-main: #{$success-main};
  --success-light: #{$success-light};
  --error-main: #{$error-main};
  --info-main: #{$info-main};

  /* brand colors */

  --primary-light: #{$primary-light};
  --primary-main: #{$primary-main};
  --primary-dark: #{$primary-dark};

  /* typography colors */

  --text-primary-light: #{$text-primary-light};
  --text-primary-main: #{$text-primary-main};
  --text-primary-dark: #{$text-primary-dark};

  --text-secondary-light: #{$text-secondary-light};
  --text-secondary-main: #{$text-secondary-main};

  /* border colors */

  --border-primary-main: #{$border-primary-main};

  /* chart colors */

  --chart-primary-main: #{$chart-primary-main};

  /* App variables */
  --app-txt: #{$text-primary-main};
  --app-font-family: 'DM Sans', sans-serif;
  --app-padding-right: #{toRem(48)};
  --app-padding-left: #{toRem(30)};
  --app-padding-top: #{toRem(30)};
  --app-padding-bottom: #{toRem(34)};

  @include respond-to(xmedium) {
    --app-padding-right: #{toRem(32)};
    --app-padding-left: #{toRem(32)};
  }

  @include respond-to(small) {
    --app-padding-right: #{toRem(12)};
    --app-padding-left: #{toRem(12)};
  }

  /* --------------------------------------- */

  /* Field variables */

  /* --------------------------------------- */
  --field-bg-primary: var(--background-primary-main);
  --field-bg-secondary: var(--background-secondary-light);

  /* label */
  --field-label: var(--text-primary-light);
  --field-label-hover: var(--text-primary-light);
  --field-label-focus: var(--primary-main);
  --field-label-font-size: #{toRem(16)};
  --field-label-line-height: 1.5;

  /* text */
  --field-text: var(--text-primary-light);
  --field-text-font-size: #{toRem(16)};
  --field-text-line-height: 1.5;
  --field-placeholder: #{rgba($text-primary-main, 0.35)};

  /* border */
  --field-border: var(--border-primary-light);
  --field-border-hover: var(--border-primary-light);
  --field-border-focus: var(--primary-main);
  --field-border-radius: #{toRem(20)};

  /* transition duration */
  --field-transition-duration: 0.2s;

  /* paddings */
  --field-padding-top: #{toRem(14)};
  --field-padding-right: #{toRem(16)};
  --field-padding-bottom: #{toRem(18)};
  --field-padding-left: #{toRem(14)};
  --field-padding:
    var(--field-padding-top)
    var(--field-padding-right)
    var(--field-padding-bottom)
    var(--field-padding-left);

  --field-error: var(--error-main);
}
